@font-face {
	font-family: 'Bw Nista Geometric';
	src: url(./assets/fonts/BwNistaGeo-Rg.woff2) format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'Bw Nista Geometric';
	src: url(./assets/fonts/BwNistaGeo-xBd.woff2) format('woff2');
	font-weight: bold;
}
